<section class="about__container">
    <div class="container">
        <h2 class="about__title">Teacher</h2>
        <img src="./images/about/about_lg.jpg" alt="Elena Moreva's photo">
        <h3 lang="ru">Елена Морева</h3>

        <ul class="about__list">
            <li class="about__list-item">6 years of experience in preparing students for UPE</li>
            <li class="about__list-item">Own result of passing VNO - 197 points 2 years in a row</li>
            <li class="about__list-item">Passed excellent at the international analogue
                of UPE - Cambridge PET (Preliminary English Test)</li>
        </ul>

        <p class="about__text">Graduated from the Institute of International Relations of the NAU with a degree in translator-analyst.

        <p class="about__text">In spare time takes courses from the best universities in the world on effective teaching 
            and essay writing techniques.</p>

        <p class="about__text">Completed: English Grammar and Essay Writing (Berkeley), English Grammar & Style (The University of Queesland), 
            How to Write an Essay (Berkeley), Academic and Business Writing (Berkeley), The Art of Teaching (GEMS education), 
            Powerful Tools for Teaching and Learning (University of Houston).</p>
        </p>


        <a class="certificate"
            href="https://cambridgeforlife.org/img/asset/bWFpbi9sb2dvcy9zYW1wbGUtY2Vmci1hMi0tLWtleS0tLTEyMC0tLXAuanBn?w=1600&fit=crop&s=9abbb41b4161d066f675f47bd6c3b8be"
            target="_blank" rel="noopener noreferrer">
            Cambrige English Entry Level Certificate
        </a>

    </div>
</section>