<section class="benefits">
				<div class="container benefits__container">
					<h2 class="benefits__title">Why do people choose us</h2>
					<ul class="benefits__list grid">
						<li class="benefits__item grid-item">Training in small groups</li>
						<li class="benefits__item grid-item">Rendered notes</li>
						<li class="benefits__item grid-item">
							Each lesson has a goal and a specific result
						</li>
						<li class="benefits__item grid-item">
							The real results of the<br />
							teacher
						</li>
						<li class="benefits__item grid-item">
							The course program meets<br />
							the requirements of the<br />
							MES of Ukraine
						</li>
						<li class="benefits__item grid-item">
							Set of groups by level of knowledge
						</li>
					</ul>
				</div>
			</section>





<!--<section class="container benefits__background"> visually-hidden
  <h2 class="benefits__title">Why do people choose us</h2>
  <div class="benefits__container">
    <ul class="benefits__card">
      <li class="benefits__card-list">
        <ul class="benefits__subcard">
          <li class="benefits__number">01</li>
          <li class="benefits__text">Training in small groups</li>
        </ul>
      </li>

      <li class="benefits__card-list">
        <ul class="benefits__subcard">
          <li class="benefits__number">02</li>
          <li class="benefits__text">Rendered notes</li>
        </ul>
      </li>

      <li class="benefits__card-list">
        <ul class="benefits__subcard">
          <li class="benefits__number">03</li>
          <li class="benefits__text">Each lesson has a goal and a specific result</li>
        </ul>
      </li>

      <li class="benefits__card-list">
        <ul class="benefits__subcard">
          <li class="benefits__number">04</li>
          <li class="benefits__text">The real results of the teacher</li>
        </ul>
      </li>

      <li class="benefits__card-list">
        <ul class="benefits__subcard">
          <li class="benefits__number">05</li>
          <li class="benefits__text">
            The course program meets the requirements of the MES of Ukraine
          </li>
        </ul>
      </li>

      <li class="benefits__card-list">
        <ul class="benefits__subcard">
          <li class="benefits__number">06</li>
          <li class="benefits__text">Set of groups by level of knowledge</li>
        </ul>
      </li>
    </ul>
  </div>
</section>-->
