<section class="benefits">
  <div class="container benefits__container">
    <h2 class="benefits__title">Why do people choose us</h2>
    <ul class="benefits__list grid">
      <li class="benefits__item grid-item">Training in small groups</li>
      <li class="benefits__item grid-item">Rendered notes</li>
      <li class="benefits__item grid-item">Each lesson has a goal and a specific result</li>
      <li class="benefits__item grid-item">
        The real results of the<br />
        teacher
      </li>
      <li class="benefits__item grid-item">
        The course program meets<br />
        the requirements of the<br />
        MES of Ukraine
      </li>
      <li class="benefits__item grid-item">Set of groups by level of knowledge</li>
    </ul>
  </div>
</section>
