<section class="container benefits__container">
    <h2 class="benefits__title">Why do people choose us</h2>
    <ul class="programs__card">
 
       <li class="benefits__card-list">
          <ul class="benefits__subcard">
             <li class="benefits__number">01</li>
             <li class="benefits__text">Training in small groups</li>
          </ul>
       </li>
 
       <li class="benefits__card-list">
          <ul class="benefits__subcard">
             <li class="benefits__number">02</li>
             <li class="benefits__text">Rendered notes</li>
          </ul>
       </li>
 
       <li class="benefits__card-list">
          <ul class="benefits__subcard">
             <li class="benefits__number">03</li>
             <li class="benefits__text">Each lesson has a goal and a specific result</li>
          </ul>
 
       </li>
 
       <li class="benefits__card-list">
          <ul class="benefits__subcard">
             <li class="benefits__number">04</li>
             <li class="benefits__text">The real results of the teacher</li>
          </ul>
       </li>
 
       <li class="benefits__card-list">
          <ul class="benefits__subcard">
             <li class="benefits__number">05</li>
             <li class="benefits__text">The course program meets the requirements of the MES of Ukraine</li>
          </ul>
       </li>
 
       <li class="benefits__card-list">
          <ul class="benefits__subcard">
             <li class="benefits__number">06</li>
             <li class="benefits__text">Set of groups by level of knowledge</li>
          </ul>
       </li>
    </ul>
 </section>