<section class="contacts">
  <div class="contacts__container">
    <h2 class="contacts__title">
      Registration for a <span class="contacts__title__text-orange">free</span> phone
      <span class="contacts__title__text-orange">consultation</span> on the nuances of English UPE
    </h2>
    <p class="contacts__text">
      Leave a request for participation in a <span class="contacts__text-orange">free lesson</span>.
      A consultant will contact you and answer your questions
    </p>
    <form class="contacts__form">
      <input class="contacts__form__name" type="text" name="name" placeholder="Name*" />
      <input class="contacts__form__phone" type="text" name="phone" placeholder="Phone*" />
    </form>
    <button class="btn--accent btn--position" type="submit">I want a free lesson</button>
  </div>
</section>
