<section class="contacts" name="contacts" id="contacts">
  <div class="container">
    <div class="contacts__container">
      <h2 class="contacts__title">
        Registration for a <span class="contacts__title__text-orange">free</span> phone
        <span class="contacts__title__text-orange">consultation</span> on the nuances of English UPE
      </h2>
      <p class="contacts__text">
        Leave a request for participation in a
        <span class="contacts__text-orange">free lesson</span>. A consultant will contact you and
        answer your questions
      </p>
      <form class="contacts__form">
        <input
          class="contacts__form__input"
          type="text"
          name="name"
          placeholder="Name*"
          minlength="3"
          maxlength="15"
          pattern="^[a-zA-Z]+$"
          title="Please type youre name in english."
        />
        <input
          class="contacts__form__input"
          type="text"
          name="phone"
          placeholder="Phone*"
          minlength="10"
          maxlength="17"
          title="Please type youre mobile phone number."
          pattern="(^\+?[0-9]{3}-[0-9]{2}-[0-9]{3}-[0-9]{3}|^\+?[0-9]{3}-[0-9]{2}-[0-9]{2}-[0-9]{3})"
        />
      </form>
      <button class="btn--accent btn--position" type="submit">I want a free lesson</button>
    </div>
  </div>
</section>
