<footer class="footer">
  <div class="container footer__container">
    <a class="logo logo__footer" href="./index.html">
      <div class="logo__name">
        Hell<svg class="logo__icon" width="22" height="30">
          <use href="./images/icons.svg#icon-fire"></use></svg
        >EN
      </div>
      <div class="logo__descr"><span class="logo__descr--accent">hellish</span>english</div>
    </a>
    <div class="footer__contacts">
      <a class="contact__link" href="tel:+380000000000">
        <svg class="contact__icon" width="30" height="29">
          <use href="./images/icons.svg#icon-phone"></use>
        </svg>
        <span class="contact__number">+38(000)000 00 00</span>
      </a>
    </div>
    <a class="contact__social-link" href="https://www.instagram.com/" target="_blank"></a>
  </div>
  <div class="container container__footer--rights">
    <p class="rights">@ All rights reserved, 2019</p>
  </div>
</footer>
