<footer class="footer">
  <div class="container footer__container">
    <a class="logo" href="./index.html" logo>
      <div class="logo__name">
        Hell<svg class="logo__icon" width="22" height="30">
          <use href="./images/icons.svg#icon-logo"></use></svg
        >EN
      </div>
      <div class="logo__descr"><span class="logo__descr--accent">hellish</span>english</div>
    </a>
    <div class="footer__contacts">
      <a class="contant__link" href="tel:+380000000000">
        <svg class="contact__icon" width="30" height="29">
          <use href="./images/icons.svg#icon-phone"></use>
        </svg>
        <span class="contact__number">+38(000)000 00 00</span>
      </a>
      <a class="contact__social-link" href="/">
        <!-- <picture>
          <source srcset="./images/footer/instagram.png 1x, ./images/footer/instagram@2x.png 2x" />
          <img
            class="footer__contacts__social-link__icon"
            src="./images/footer/instagram.png"
            alt="Instagram icon"
            width="40"
            height="40"
            loading="lazy"
          />
        </picture> -->
      </a>
    </div>
  </div>
  <div class="container container__footer--rights">
    <p class="rights">@ All rights reserved, 2019</p>
  </div>
</footer>
