    <div class="container we-do__container">
        <h2 class="we-do__title">How do we do it</h2>
        <ul class="we-do__list grid">
            <li class="we-do__item grid-item">
                <svg class="we-do__icon" width="44" height="48">
                    <use href="../src/images/icons.svg#icon-study_program"></use>
                </svg>
                <b class="we-do__item-stress-text">
                    Adapted program preparation for UPE
                </b>
                <p class="we-do__item-text">
                    You will learn grammar and vocabulary at the same time. 
                    And you will learn how to write essays.
                </p>
            </li>

            <li class="we-do__item grid-item">
                <svg class="we-do__icon" width="48" height="48">
                    <use href="../src/images/icons.svg#icon-mobile_learn"></use>
                </svg>
                <b class="we-do__item-stress-text">
                    Classroom and online learning
                </b>
                <p class="we-do__item-text">
                    The teacher will help not only in the classroom, 
                    but also during home preparation.
                    Parents can chat if they wish.
                </p>
            </li>

            <li class="we-do__item grid-item">
                <svg class="we-do__icon" width="66" height="48">
                    <use href="../src/images/icons.svg#icon-open_book"></use>
                </svg>
                <b class="we-do__item-stress-text">
                    The habit of reading in English
                </b>
                <p class="we-do__item-text">
                    Articles from sources that are used in the development of this UPE 
                    will be received by phone twice a week.
                </p>
            </li>

            <li class="we-do__item grid-item">
                <svg class="we-do__icon" width="48" height="48">
                    <use href="../src/images/icons.svg#icon-group_people"></use>
                </svg>
                <b class="we-do__item-stress-text">
                    Psychological <br> support
                </b>
                <p class="we-do__item-text">
                    We will teach you testing techniques, the ability to plan 
                    your confidence training in itself.
                </p>
            </li>

            <li class="we-do__item grid-item">
                <svg class="we-do__icon" width="40" height="48">
                    <use href="../src/images/icons.svg#icon-student"></use>
                </svg>
                <b class="we-do__item-stress-text">
                    Training on copyright manuals
                </b>
                <p class="we-do__item-text">
                    You don't have to waste your time
                    on a search for material and to buy anything extra. 
                    We have compiled
                    2 manuals for you.
                </p>
            </li>

            <li class="we-do__item grid-item">
                <svg class="we-do__icon" width="58" height="48">
                    <use href="../src/images/icons.svg#icon-audio_book"></use>
                </svg>
                <b class="we-do__item-stress-text">
                    Ability to comprehend spoken English
                </b>
                <p class="we-do__item-text">
                    “F.R.I.E.N.D.S” won't help you. You will listen regularly
                    and analyze audio recordings
                    in accordance with the studied vocabulary.
                </p>
            </li>
        </ul>
    </div>