<section class="container programs__container">

   <h2 class="programs__title">Our program</h2>
   <ul class="programs__chapter">
      <li class="programs__head">1 semester
         <ul class="programs__subhead">Grammar
            <li class="programs__list">Nouns & Articles</li>
            <li class="programs__list">Adjectives & Adverb</li>
         </ul>
         <ul class="programs__subhead">Vocabulary
            <li class="programs__list">Pronouns</li>
            <li class="programs__list">Active Voice</li>
            <li class="programs__list">Passive Voice</li>
         </ul>
      </li>
      <li class="programs__head">2 semester
         <ul class="programs__subhead">Grammar
            <li class="programs__list">Nouns & Articles</li>
            <li class="programs__list">Adjectives & Adverb</li>
         </ul>

         <ul class="programs__subhead">Vocabulary
            <li class="programs__list">Home</li>
            <li class="programs__list">School</li>
            <li class="programs__list">Work</li>
         </ul>
      </li>
      <li class="programs__head">3 semester

         <ul class="programs__subhead">Grammar
            <li class="programs__list">Modal verbs</li>
            <li class="programs__list">Infinitive</li>
            <li class="programs__list">Gerund</li>
            <li class="programs__list">Participle: 1, 2</li>
         </ul>
         <ul class="programs__subhead">Vocabulary
            <li class="programs__list">Travel & Tourism</li>
            <li class="programs__list">Culture & Free</li>
            <li class="programs__list">Time Sport</li>
         </ul>
         <ul class="programs__subhead">Writing
            <li class="programs__list">Informal Letter</li>
         </ul>
      </li>

      <li class="programs__head">4 semester
         <ul class="programs__subhead">Grammar
            <li class="programs__list">Clauses: Conditional and Wishes</li>
            <li class="programs__list">Direct / Reported speech</li>
            <li class="programs__list">Preposition</li>
            <li class="programs__list">Conjunction</li>
            <li class="programs__list"> Numeral</li>
         </ul>
         <ul class="programs__subhead">Vocabulary
            <li class="programs__list">Healthy Living</li>
            <li class="programs__list">Nature & Environment</li>
            <li class="programs__list">Money</li>
         </ul>
         <ul class="programs__subhead">Writing
            <li class="programs__list">Formal Letter</li>
         </ul>
      </li>

      <li class="programs__head">5 semester
         <ul class="programs__subhead">///
            <li class="programs__list"> Revision</li>
            <li class="programs__list"> Tests</li>
         </ul>
      </li>


   </ul>


   <ul class="programs__card">

      <li class="programs__card-list">
         <ul class="programs__subcard">
            <li class="programs__number">01</li>
            <li class="programs__text">Training in small groups</li>
         </ul>
      </li>

      <li class="programs__card-list">
         <ul class="programs__subcard">
            <li class="programs__number">02</li>
            <li class="programs__text">Rendered notes</li>
         </ul>
      </li>

      <li class="programs__card-list">
         <ul class="programs__subcard">
            <li class="programs__number">03</li>
            <li class="programs__text">Each lesson has a goal and a specific result</li>
         </ul>

      </li>

      <li class="programs__card-list">
         <ul class="programs__subcard">
            <li class="programs__number">04</li>
            <li class="programs__text">The real results of the teacher</li>
         </ul>
      </li>

      <li class="programs__card-list">
         <ul class="programs__subcard">
            <li class="programs__number">05</li>
            <li class="programs__text">The course program meets the requirements of the MES of Ukraine</li>
         </ul>
      </li>

      <li class="programs__card-list">
         <ul class="programs__subcard">
            <li class="programs__number">06</li>
            <li class="programs__text">Set of groups by level of knowledge</li>
         </ul>
      </li>
   </ul>






   </ul>

</section>