<section class="container programs__container">

   <h2 class="programs__title">Our program</h2>
   <ul class="programs__chapter">
      
      <li class="programs__head">
         
         <p class="programs__head-title">1 semester</p>
         <div class="programs__head-subtitle">
            <ul class="programs__subhead">
               <li class="programs__sublist">Grammar</li>
               <li class="programs__list">Nouns & Articles</li>
               <li class="programs__list">Adjectives & Adverb</li>
            </ul>

            <ul class="programs__subhead">
               <li class="programs__sublist">Vocabulary</li>
               <li class="programs__list">Pronouns</li>
               <li class="programs__list">Active Voice</li>
               <li class="programs__list">Passive Voice</li>
            </ul>
         </div>

      </li>
      <li class="programs__head">
         <p class="programs__head-title">2 semester</p>
         <div class="programs__head-subtitle">
            <ul class="programs__subhead">
               <li class="programs__sublist">Grammar</li>
               <li class="programs__list">Nouns & Articles</li>
               <li class="programs__list">Adjectives & Adverb</li>
            
            </ul>
            <ul class="programs__subhead">
               <li class="programs__sublist">Vocabulary</li>
               <li class="programs__list">Home</li>
               <li class="programs__list">School</li>
               <li class="programs__list">Work</li>
            </ul>
         </div>
      </li>

      <li class="programs__head">
         <p class="programs__head-title">3 semester</p>
         <div class="programs__head-subtitle">
            <ul class="programs__subhead">
               <li class="programs__sublist">Grammar</li>
               <li class="programs__list">Modal verbs</li>
               <li class="programs__list">Infinitive</li>
               <li class="programs__list">Gerund</li>
               <li class="programs__list">Participle: 1, 2</li>
            </ul>
            <ul class="programs__subhead">
               <li class="programs__sublist">Vocabulary</li>
               <li class="programs__list">Travel & Tourism</li>
               <li class="programs__list">Culture & Free</li>
               <li class="programs__list">Time Sport</li>
            </ul>
            <ul class="programs__subhead">
               <li class="programs__sublist">Writing</li>
               <li class="programs__list">Informal Letter</li>
            </ul>
         </div>
      </li>

      <li class="programs__head">
         <p class="programs__head-title">4 semester</p>
         <div class="programs__head-subtitle">
            <ul class="programs__subhead">
               <li class="programs__sublist">Grammar</li>
               <li class="programs__list">Clauses: Conditional and Wishes</li>
               <li class="programs__list">Direct / Reported speech</li>
               <li class="programs__list">Preposition</li>
               <li class="programs__list">Conjunction</li>
               <li class="programs__list"> Numeral</li>
            </ul>
            <ul class="programs__subhead">
               <li class="programs__sublist">Vocabulary</li>
               <li class="programs__list">Healthy Living</li>
               <li class="programs__list">Nature & Environment</li>
               <li class="programs__list">Money</li>
            </ul>
            <ul class="programs__subhead">
               <li class="programs__sublist">Writing</li>
               <li class="programs__list">Formal Letter</li>
            </ul>
         </div>
      </li>

      <li class="programs__head">
         <p class="programs__head-title">5 semester</p>
         <div class="programs__head-subtitle">
            <ul class="programs__subhead">
               <li class="programs__sublist">&nbsp</li>
               <li class="programs__list"> Revision</li>
               <li class="programs__list"> Tests</li>
            </ul>
         </div>
      </li>
   </ul>
<div class="programs__image">
   <!--<picture>
     
      <source srcset="
   ./img/our-profi/lapp_lg.jpg 1x,
   ./img/our-profi/lapp@2x_lg.jpg 2x" media="(min-width: 1368px)" type="image/jpg" />

      
      <img class="programs__pict" src="./images/program/program_bcg_sm.png" alt="Desk top" width="760" height="502"
         loading="lazy" />

   </picture>-->

</div>

</section>