<section class="programs" name="program" id="program">
  <div class="container programs__container">
    <h2 class="programs__title">Our program</h2>
    <ul class="programs__chapter">
      <li class="programs__head">
        <h3 class="programs__head-title"><span class="prog__num">1</span> semester</h3>
        <ul class="programs__head-subtitle">
          <li class="programs__subhead">
            <h4 class="programs__sublist">Grammar</h4>
            <ul class="programs__card">
              <li class="programs__list">Nouns & Articles</li>
              <li class="programs__list">Adjectives & Adverb</li>
            </ul>
          </li>

          <li class="programs__subhead">
            <h4 class="programs__sublist">Vocabulary</h4>
            <ul class="programs__card">
              <li class="programs__list middl">Family & Relations</li>
              <li class="programs__list middl">People & Society</li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="programs__head">
        <h3 class="programs__head-title"><span class="prog__num">2</span> semester</h3>

        <ul class="programs__head-subtitle">
          <li class="programs__subhead">
            <h4 class="programs__sublist">Grammar</h4>
            <ul class="programs__card">
              <li class="programs__list">Nouns & Articles</li>
              <li class="programs__list">Adjectives & Adverb</li>
            </ul>
          </li>

          <li class="programs__subhead">
            <h4 class="programs__sublist">Vocabulary</h4>
            <ul class="programs__card">
              <li class="programs__list">Home</li>
              <li class="programs__list">School</li>
              <li class="programs__list">Work</li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="programs__head">
        <h3 class="programs__head-title"><span class="prog__num">3</span> semester</h3>
        <ul class="programs__head-subtitle">
          <li class="programs__subhead">
            <h4 class="programs__sublist">Grammar</h4>
            <ul class="programs__card">
              <li class="programs__list">Modal verbs</li>
              <li class="programs__list">Infinitive</li>
              <li class="programs__list">Gerund</li>
              <li class="programs__list">Participle: 1, 2</li>
            </ul>
          </li>

          <li class="programs__subhead">
            <h4 class="programs__sublist">Vocabulary</h4>
            <ul class="programs__card">
              <li class="programs__list middl">Travel & Tourism</li>
              <li class="programs__list middl">Culture & Free Time</li>
              <li class="programs__list middl">Sport</li>
            </ul>
          </li>

          <li class="programs__subhead">
            <h4 class="programs__sublist">Writing</h4>
            <ul class="programs__card">
              <li class="programs__list small">Informal Letter</li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="programs__head">
        <h3 class="programs__head-title"><span class="prog__num">4</span> semester</h3>
        <ul class="programs__head-subtitle">
          <li class="programs__subhead">
            <h4 class="programs__sublist">Grammar</h4>
            <ul class="programs__card">
              <li class="programs__list">Clauses: Conditional and Wishes</li>
              <li class="programs__list">Direct / Reported speech</li>
              <li class="programs__list">Preposition</li>
              <li class="programs__list">Conjunction</li>
              <li class="programs__list">Numeral</li>
            </ul>
          </li>

          <li class="programs__subhead">
            <h4 class="programs__sublist">Vocabulary</h4>
            <ul class="programs__card">
              <li class="programs__list middl">Healthy Living</li>
              <li class="programs__list middl">Nature & Environment</li>
              <li class="programs__list middl">Money</li>
            </ul>
          </li>
          <li class="programs__subhead">
            <h4 class="programs__sublist">Writing</h4>
            <ul class="programs__card">
              <li class="programs__list small">Formal Letter</li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="programs__head">
        <h3 class="programs__head-title"><span class="prog__num">5</span> semester</h3>
        <ul class="programs__head-subtitle">
          <li class="programs__subhead">
            <h4 class="programs__sublist">&nbsp</h4>
            <ul class="programs__card">
              <li class="programs__list">Revision</li>
              <li class="programs__list">Tests</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
