<section class="reviews">
  <div class="container revievs__container">
    <h2 class="reviews__title">Feedback from graduates</h2>

    <div class="reviews-group">
      <picture class="reviews-group__picture">
        <!-- Desktop pictures -->
        <source
          srcset="
            ./images/reviews/desktop/Ellipse6desk.png    1x,
            ./images/reviews/desktop/Ellipse6desk@2x.png 2x
          "
          media="(min-width: 1200px)"
          type="image/png"
        />
        <!-- Tablet pictures -->
        <source
          srcset="./images/reviews/Ellipse6.png 1x, ./images/reviews/Ellipse6@2x.png 2x"
          media="(min-width: 768px)"
          type="image/png"
        />
        <!-- Mobile pictures -->
        <source
          srcset="./images/reviews/Ellipse6.png 1x, ./images/reviews/Ellipse6@2x.png 2x"
          media="(max-width: 767px)"
          type="image/png"
        />
        <!-- Default picture -->
        <img
          class="portfolio-img"
          src="./images/reviews/Ellipse6.png"
          alt="Tonya Kucherovskaya"
          width="90"
          height="90"
          loading="lazy"
        />
      </picture>
      <picture class="reviews-group__picture">
        <!-- Desktop pictures -->
        <source
          srcset="./images/reviews/vk1.png 1x, ./images/reviews/vk1@2x.png 2x"
          media="(min-width: 1200px)"
          type="image/png"
        />
        <!-- Tablet pictures -->
        <source
          srcset="./images/reviews/vk1.png 1x, ./images/reviews/vk1@2x.png 2x"
          media="(min-width: 768px)"
          type="image/png"
        />
        <!-- Mobile pictures -->
        <source
          srcset="./images/reviews/vk1.png 1x, ./images/reviews/vk1@2x.png 2x"
          media="(max-width: 767px)"
          type="image/png"
        />
        <!-- Default picture -->
        <img
          class="portfolio-img"
          src="./images/reviews/vk1.png"
          alt="Tonya Kucherovskaya"
          width="30"
          height="30"
          loading="lazy"
        />
      </picture>
      <h3 class="reviews-group__title">Tonya Kucherovskaya</h3>
      <p class="reviews-group__text">
        Graduated from 2015, National University of Bioresources and natural history of Ukraine
      </p>
      <article class="reviews-group__article">
        In a short time with Elena, I mastered grammar and replenished my completely empty
        vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
        friends because she was really worried about my success. She became an authority for me, but
        I did not tremble in class, fearing to make the slightest mistake. Now I can brag that I'm
        student ... <a class="reviews-group__link">Read more</a>
        
      </article>
      <!-- <input type="checkbox" > -->
    </div>
    <div class="reviews-photo">
        <a class="reviews-photo__link--first" href="">
            <svg width="25" height="16">
                <use href="./images/icons.svg#icon-arrow1"></use>
            </svg>
        </a>
        <a class="reviews-photo__link--last" href="">
            <svg width="25" height="16">
                <use href="./images/icons.svg#icon-arrow2"></use>
            </svg>
        </a>
    </div>
    <a href=""
      ><svg width="25" height="16">
        <use href=""></use></svg
    ></a>
    <a href=""
      ><svg width="" height="">
        <use href=""></use></svg
    ></a>
  </div>
</section>
