<section class="reviews">
  <div class="container reviews__container">
    <h2 class="reviews__title">Feedback from graduates</h2>
    <div class="reviews-group">
      <div class="reviews-cover">
        <div class="reviews-group__item">
          <div class="reviews-group__img">
            <picture class="reviews-group__picture">
              <source
                srcset="
                  ./images/reviews/ellipse-main1_des.png    1x,
                  ./images/reviews/ellipse-main1@2x_des.png 2x
                "
                media="(min-width: 768px)"
                type="image/png"
              />
              <source
                srcset="
                  ./images/reviews/ellipse-main1_mob.png    1x,
                  ./images/reviews/ellipse-main1@2x_mob.png 2x
                "
                media="(max-width: 767px)"
                type="image/png"
              />
              <img
                class="reviews-group__picture--first"
                src="./images/reviews/ellipse-main1_mob.png"
                alt="Tonya Kucherovskaya"
                width="150"
                height="150"
                loading="lazy"
              />
            </picture>
            <img
              class="reviews-group__picture-logo"
              src="./images/reviews/facebook-logo.svg"
              alt=""
            />
          </div>

          <div class="reviews-group__text">
            <h3 class="reviews-group__title">Tonya Kucherovskaya</h3>
            <p class="reviews-group__subtitle">
              Graduated from 2015, National University of Bioresources and natural history of
              Ukraine
            </p>
            <article class="reviews-group__article">
              In a short time with Elena, I mastered grammar and replenished my completely empty
              vocabulary. From the first lesson I realized that I was on my plate. Elena and I
              became friends because she was really worried about my success. She became an
              authority for me, but I did not tremble in class, fearing to make the slightest
              mistake. Now I can brag that I'm student ...
              <a class="reviews-group__article-link" href="./">Read more</a>
            </article>
          </div>
        </div>
      </div>
      <div class="reviews-cover">
        <div class="reviews-group__item">
          <div class="reviews-group__img">
            <picture class="reviews-group__picture">
              <source
                srcset="
                  ./images/reviews/ellipse-main2_des.png    1x,
                  ./images/reviews/ellipse-main2@2x_des.png 2x
                "
                media="(min-width: 768px)"
                type="image/png"
              />
              <source
                srcset="
                  ./images/reviews/ellipse-main2_mob.png    1x,
                  ./images/reviews/ellipse-main2@2x_mob.png 2x
                "
                media="(max-width: 767px)"
                type="image/png"
              />
              <img
                class="reviews-group__picture--first"
                src="./images/reviews/ellipse-main2_mob.png"
                alt="Tonya Kucherovskaya"
                width="150"
                height="150"
                loading="lazy"
              />
            </picture>
            <img
              class="reviews-group__picture-logo"
              src="./images/reviews/facebook-logo.svg"
              alt=""
            />
          </div>

          <div class="reviews-group__text">
            <h3 class="reviews-group__title">Tonya Kucherovskaya</h3>
            <p class="reviews-group__subtitle">
              Graduated from 2015, National University of Bioresources and natural history of
              Ukraine
            </p>
            <article class="reviews-group__article">
              In a short time with Elena, I mastered grammar and replenished my completely empty
              vocabulary. From the first lesson I realized that I was on my plate. Elena and I
              became friends because she was really worried about my success. She became an
              authority for me, but I did not tremble in class, fearing to make the slightest
              mistake. Now I can brag that I'm student ...
              <a class="reviews-group__article-link" href="./">Read more</a>
            </article>
          </div>
        </div>
      </div>
      <div class="reviews-cover">
        <div class="reviews-group__item">
          <div class="reviews-group__img">
            <picture class="reviews-group__picture">
              <source
                srcset="
                  ./images/reviews/ellipse-main3_des.png    1x,
                  ./images/reviews/ellipse-main3@2x_des.png 2x
                "
                media="(min-width: 768px)"
                type="image/png"
              />
              <source
                srcset="
                  ./images/reviews/ellipse-main3_mob.png    1x,
                  ./images/reviews/ellipse-main3@2x_mob.png 2x
                "
                media="(max-width: 767px)"
                type="image/png"
              />
              <img
                class="reviews-group__picture--first"
                src="./images/reviews/ellipse-main3_mob.png"
                alt="Tonya Kucherovskaya"
                width="150"
                height="150"
                loading="lazy"
              />
            </picture>
            <img
              class="reviews-group__picture-logo"
              src="./images/reviews/facebook-logo.svg"
              alt=""
            />
          </div>

          <div class="reviews-group__text">
            <h3 class="reviews-group__title">Tonya Kucherovskaya</h3>
            <p class="reviews-group__subtitle">
              Graduated from 2015, National University of Bioresources and natural history of
              Ukraine
            </p>
            <article class="reviews-group__article">
              In a short time with Elena, I mastered grammar and replenished my completely empty
              vocabulary. From the first lesson I realized that I was on my plate. Elena and I
              became friends because she was really worried about my success. She became an
              authority for me, but I did not tremble in class, fearing to make the slightest
              mistake. Now I can brag that I'm student ...
              <a class="reviews-group__article-link" href="./">Read more</a>
            </article>
          </div>
        </div>
      </div>
      <div class="reviews-cover">
        <div class="reviews-group__item">
          <div class="reviews-group__img">
            <picture class="reviews-group__picture">
              <source
                srcset="
                  ./images/reviews/ellipse-main4_des.png    1x,
                  ./images/reviews/ellipse-main4@2x_des.png 2x
                "
                media="(min-width: 768px)"
                type="image/png"
              />
              <source
                srcset="
                  ./images/reviews/ellipse-main4_mob.png    1x,
                  ./images/reviews/ellipse-main4@2x_mob.png 2x
                "
                media="(max-width: 767px)"
                type="image/png"
              />
              <img
                class="reviews-group__picture--first"
                src="./images/reviews/ellipse-main4_mob.png"
                alt="Tonya Kucherovskaya"
                width="150"
                height="150"
                loading="lazy"
              />
            </picture>
            <img
              class="reviews-group__picture-logo"
              src="./images/reviews/facebook-logo.svg"
              alt=""
            />
          </div>

          <div class="reviews-group__text">
            <h3 class="reviews-group__title">Tonya Kucherovskaya</h3>
            <p class="reviews-group__subtitle">
              Graduated from 2015, National University of Bioresources and natural history of
              Ukraine
            </p>
            <article class="reviews-group__article">
              In a short time with Elena, I mastered grammar and replenished my completely empty
              vocabulary. From the first lesson I realized that I was on my plate. Elena and I
              became friends because she was really worried about my success. She became an
              authority for me, but I did not tremble in class, fearing to make the slightest
              mistake. Now I can brag that I'm student ...
              <a class="reviews-group__article-link" href="./">Read more</a>
            </article>
          </div>
        </div>
      </div>
      <div class="reviews-cover">
        <div class="reviews-group__item">
          <div class="reviews-group__img">
            <picture class="reviews-group__picture">
              <source
                srcset="
                  ./images/reviews/ellipse-main5_des.png    1x,
                  ./images/reviews/ellipse-main5@2x_des.png 2x
                "
                media="(min-width: 768px)"
                type="image/png"
              />
              <source
                srcset="
                  ./images/reviews/ellipse-main5_mob.png    1x,
                  ./images/reviews/ellipse-main5@2x_mob.png 2x
                "
                media="(max-width: 767px)"
                type="image/png"
              />
              <img
                class="reviews-group__picture--first"
                src="./images/reviews/ellipse-main5_mob.png"
                alt="Tonya Kucherovskaya"
                width="150"
                height="150"
                loading="lazy"
              />
            </picture>
            <img
              class="reviews-group__picture-logo"
              src="./images/reviews/facebook-logo.svg"
              alt=""
            />
          </div>

          <div class="reviews-group__text">
            <h3 class="reviews-group__title">Tonya Kucherovskaya</h3>
            <p class="reviews-group__subtitle">
              Graduated from 2015, National University of Bioresources and natural history of
              Ukraine
            </p>
            <article class="reviews-group__article">
              In a short time with Elena, I mastered grammar and replenished my completely empty
              vocabulary. From the first lesson I realized that I was on my plate. Elena and I
              became friends because she was really worried about my success. She became an
              authority for me, but I did not tremble in class, fearing to make the slightest
              mistake. Now I can brag that I'm student ...
              <a class="reviews-group__article-link" href="./">Read more</a>
            </article>
          </div>
        </div>
      </div>
      <div class="reviews-cover">
        <div class="reviews-group__item">
          <div class="reviews-group__img">
            <picture class="reviews-group__picture">
              <source
                srcset="
                  ./images/reviews/ellipse-main6_des.png    1x,
                  ./images/reviews/ellipse-main6@2x_des.png 2x
                "
                media="(min-width: 768px)"
                type="image/png"
              />
              <source
                srcset="
                  ./images/reviews/ellipse-main6_mob.png    1x,
                  ./images/reviews/ellipse-main6@2x_mob.png 2x
                "
                media="(max-width: 767px)"
                type="image/png"
              />
              <img
                class="reviews-group__picture--first"
                src="./images/reviews/ellipse-main6_mob.png"
                alt="Tonya Kucherovskaya"
                width="150"
                height="150"
                loading="lazy"
              />
            </picture>
            <img
              class="reviews-group__picture-logo"
              src="./images/reviews/facebook-logo.svg"
              alt=""
            />
          </div>

          <div class="reviews-group__text">
            <h3 class="reviews-group__title">Tonya Kucherovskaya</h3>
            <p class="reviews-group__subtitle">
              Graduated from 2015, National University of Bioresources and natural history of
              Ukraine
            </p>
            <article class="reviews-group__article">
              In a short time with Elena, I mastered grammar and replenished my completely empty
              vocabulary. From the first lesson I realized that I was on my plate. Elena and I
              became friends because she was really worried about my success. She became an
              authority for me, but I did not tremble in class, fearing to make the slightest
              mistake. Now I can brag that I'm student ...
              <a class="reviews-group__article-link" href="./">Read more</a>
            </article>
          </div>
        </div>
      </div>
      <div class="reviews-cover">
        <div class="reviews-group__item">
          <div class="reviews-group__img">
            <picture class="reviews-group__picture">
              <source
                srcset="
                  ./images/reviews/ellipse-main7_des.png    1x,
                  ./images/reviews/ellipse-main7@2x_des.png 2x
                "
                media="(min-width: 768px)"
                type="image/png"
              />
              <source
                srcset="
                  ./images/reviews/ellipse-main7_mob.png    1x,
                  ./images/reviews/ellipse-main7@2x_mob.png 2x
                "
                media="(max-width: 767px)"
                type="image/png"
              />
              <img
                class="reviews-group__picture--first"
                src="./images/reviews/ellipse-main7_mob.png"
                alt="Tonya Kucherovskaya"
                width="150"
                height="150"
                loading="lazy"
              />
            </picture>
            <img
              class="reviews-group__picture-logo"
              src="./images/reviews/facebook-logo.svg"
              alt=""
            />
          </div>

          <div class="reviews-group__text">
            <h3 class="reviews-group__title">Tonya Kucherovskaya</h3>
            <p class="reviews-group__subtitle">
              Graduated from 2015, National University of Bioresources and natural history of
              Ukraine
            </p>
            <article class="reviews-group__article">
              In a short time with Elena, I mastered grammar and replenished my completely empty
              vocabulary. From the first lesson I realized that I was on my plate. Elena and I
              became friends because she was really worried about my success. She became an
              authority for me, but I did not tremble in class, fearing to make the slightest
              mistake. Now I can brag that I'm student ...
              <a class="reviews-group__article-link" href="./">Read more</a>
            </article>
          </div>
        </div>
      </div>
    </div>
    <div class="revievs-nav">
      <div class="revievs-nav__item">
        <img
          width="54px"
          srcset="./images/reviews/ellipse1.png 1x, ./images/reviews/ellipse1@2x.png 2x"
          src="./images/reviews/ellipse1.png"
          alt="Описание изображения для всех версий"
        />
      </div>
      <div class="revievs-nav__item">
        <img
          width="54px"
          srcset="./images/reviews/ellipse2.png 1x, ./images/reviews/ellipse2@2x.png 2x"
          src="./images/reviews/ellipse2.png"
          alt="Описание изображения для всех версий"
        />
      </div>
      <div class="revievs-nav__item">
        <img
          width="54px"
          srcset="./images/reviews/ellipse3.png 1x, ./images/reviews/ellipse3@2x.png 2x"
          src="./images/reviews/ellipse3.png"
          alt="Описание изображения для всех версий"
        />
      </div>
      <div class="revievs-nav__item">
        <img
          width="54px"
          srcset="./images/reviews/ellipse4.png 1x, ./images/reviews/ellipse4@2x.png 2x"
          src="./images/reviews/ellipse4.png"
          alt="Описание изображения для всех версий"
        />
      </div>
      <div class="revievs-nav__item">
        <img
          width="54px"
          srcset="./images/reviews/ellipse5.png 1x, ./images/reviews/ellipse5@2x.png 2x"
          src="./images/reviews/ellipse5.png"
          alt="Описание изображения для всех версий"
        />
      </div>
      <div class="revievs-nav__item">
        <img
          width="54px"
          srcset="./images/reviews/ellipse6.png 1x, ./images/reviews/ellipse6@2x.png 2x"
          src="./images/reviews/ellipse6.png"
          alt="Описание изображения для всех версий"
        />
      </div>
      <div class="revievs-nav__item">
        <img
          width="54px"
          srcset="./images/reviews/ellipse7.png 1x, ./images/reviews/ellipse7@2x.png 2x"
          src="./images/reviews/ellipse7.png"
          alt="Описание изображения для всех версий"
        />
      </div>
    </div>
  </div>
</section>
