.benefits__container {
    width: 1314px;
 
    display: flex;
    
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
 
    background-color: rgb(219, 220, 219);
 
    padding-top: 70px;
    padding-bottom: 70px;
 
    padding-left: 84px;

    flex-direction: row;
    flex-wrap: wrap;
 }

 
 .benefits__title {
    @include mq(mobile) {
        display: none;
      }
 }
 .benefits__card {
 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
    
 
 }
 
 .benefits__card-list {
    display: flex;
    margin-right: 40px;
 
 
 }
 
 .benefits__card-list:nth-child(3n+3) {
    margin-right: 0;
 }
 
 .benefits__number {
 display: flex;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.65;
    color: var(--brand-color);
 }
 
 .benefits__text {
    display: flex;
    width: 356px;
 font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--title-text-color);
    margin-top: 10px;
    margin-bottom: 32px;
 
 }
 .benefits__card-list {
    display: flex;
 }