.hero {
  padding-top: 20px;

  @include mq(tablet) {
    padding-top: 55px;
  }

  @include mq(desktop) {
    padding-top: 100px;
    margin: 0px auto;

    background: url(../images/hero/group57_lg.png) no-repeat;
    background-size: 842px 718px;
    background-position: 48vmax 0px;

    @include mq(retina) {
      background: url(../images/hero/group57@2x_lg.png) no-repeat;
      background-size: 842px 718px;
      background-position: 48vmax 0px;
    }
  }
}

.hero__container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 34px;

  @include mq(tablet) {
    flex-direction: row;
    padding-bottom: 138px;
  }

  @include mq(desktop) {
    flex-direction: row;
    padding-bottom: 250px;
  }
}

.hero__text-box {
  display: block;
  max-width: 280px;
  margin: auto;

  @include mq(tablet) {
    max-width: 332px;
    margin: 0;
  }

  @include mq(desktop) {
    max-width: 642px;
  }
}

.hero__title {
  margin-bottom: 8px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;

  color: var(--title-text-color);

  @include mq(tablet) {
    font-size: 26px;
  }

  @include mq(desktop) {
    font-size: 58px;
  }
}

.hero__text {
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.08em;

  color: var(--primay-text-color);

  @include mq(desktop) {
    font-size: 20px;
    line-height: 1.65;
  }
}

.hero__text--black {
  @extend .hero__text;

  font-weight: 700;
  color: var(--title-text-color);
}

.hero__text--orange {
  @extend .hero__text;

  font-weight: 700;
  color: var(--brand-color);

  margin-bottom: 52px;

  @include mq(desktop) {
    color: var(--title-text-color);
  }
}

.hero__img-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  float: right;
}

.hero__img {
  width: 208px;
  height: 178px;
  margin: auto;

  @include mq(tablet) {
    width: 376px;
    height: 320px;
    position: absolute;
    top: 0;
    right: 18px;
  }

  @include mq(desktop) {
    display: none;
  }
}

.hero__btn {
  @extend .btn--accent;

  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid var(--bg-color-primary);
  margin-bottom: 55px;

  position: relative;
  overflow: hidden;
  transition: 0.3s;
  z-index: 1;

  &::before {
    content: '';
    width: 0;
    height: 400%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    background: var(--bg-color-primary);
    transition: 0.5s ease;
    display: block;
    z-index: -1;
  }

  &:hover::before {
    width: 155%;
  }

  &:hover {
    color: var(--brand-color);
    outline: 2px solid var(--brand-color);
  }

  @include mq(tablet) {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }

  @include mq(desktop) {
    padding: 27px 30px 26px 30px;
    width: 354px;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.14em;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
