.programs__container {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.55;

  font-family: var(--primary-font);
  color: var(--second-text-color);
}

.programs {
  background-color: var(--bg-color-second);
  padding-top: 50px;
  padding-bottom: 50px;

  @include mq(tablet) {
    max-width: 768px;
    padding-top: 60px;
    padding-bottom: 189px;
  }

  @include mq(desktop) {
    max-width: 1366px;
    padding-top: 124px;
    padding-bottom: 164px;
  }
}

.programs__chapter {
  display: flex;

  @media screen and (max-width: 766px) {
    flex-direction: column;

    margin-left: 100px;
  }

  @media screen and (min-width: 768px) and (max-width: 1364px) {
    display: block;

    margin-left: 120px;
  }

  @include mq(desktop) {
    display: flex;
    flex-wrap: row;
  }
}

.programs__head {
  position: relative;
  @include mq(desktop) {
    margin-right: 30px;
  }
}
.programs__head:last-child {
  @include mq(desktop) {
    margin-right: 0px;
  }
}

.programs__head::before {
  @media screen and (max-width: 766px) {
    position: absolute;
    top: 8px;
    left: -28px;
    content: '';
    width: 1px;
    height: calc(100% + 50px);

    background-color: var(--second-text-color);
  }
}
.programs__head:last-child::before {
  height: 0px;
}

.programs__head::before {
  @media screen and (min-width: 768px) and (max-width: 1364px) {
    position: absolute;
    top: 8px;
    left: -57px;
    content: '';
    width: 1px;
    height: calc(100% + 40px);

    background-color: var(--second-text-color);
  }

.programs__head:last-child::before {
  height: 0px;
}
}

.programs__head::before {
  @media screen and (min-width: 1366px){
    position: absolute;
    top: -30px;
    left: -40px;
    content: '';
    height: 1px;
    width: calc(1366px + 80px);

    background-color: var(--second-text-color);
  }

    .programs__head:not(:first-child)::before {
    width: 0px;


}
}




.programs__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.66;
  margin-bottom: 43px;

  @media screen and (max-width: 766px) {
    text-align: center;
  }
  @include mq(tablet) {
    font-size: 26px;
    line-height: 1.3;
    text-align: left;
    margin-bottom: 52px;
  }

  @include mq(desktop) {
    font-size: 46px;
    margin-bottom: 160px;
  }
}
.programs__head-title::before {
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ff6b09;
  top: 5px;
  left: -35px;

  @include mq(tablet) {
    font-size: 26px;

    left: -65px;
  }

  @include mq(desktop) {
    top: -68px;
    left: 0px;
  }
}

.programs__head-title {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  line-height: 2;
  font-family: var(--primary-font);
  text-transform: uppercase;

  @include mq(tablet) {
    line-height: 2;
    margin-top: 30px;
    margin-bottom: 5px;
  }

  @include mq(desktop) {
    font-size: 28px;
    text-transform: lowercase;
  }
}

.programs__head-title:last-child {
  margin-right: 0;
}

.programs__sublist::before {
  position: absolute;
  bottom: 9px;
  left: 0px;
  content: '';
  width: 12px;
  height: 2px;

  background-color: #ff6b09;

  @include mq(tablet) {
    bottom: 9px;
    left: 0px;
    letter-spacing: 1.6;
  }

  @include mq(desktop) {
    bottom: 16px;
    left: 0px;
    width: 20px;
    height: 2px;
  }
}

.programs__subhead {
  display: flex;
  flex-direction: column;
}

.programs__head:not(:last-child) {
  @media screen and (max-width: 766px) {
    margin-bottom: 42px;
  }
}

.programs__card {
  @media screen and (max-width: 766px) {
    margin-bottom: 8px;
  }
}
.programs__sublist {
  position: relative;
  padding-left: 18px;
  font-weight: 700;
  line-height: 1.66;
  color: var(--brand-color);
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 10px;

  @include mq(tablet) {
    margin-top: 0;
    margin-bottom: 20px;
  }

  @include mq(desktop) {
    font-size: 20px;
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 25px;
  }
}

.programs__list {
  color: var(--primay-text-color);
  line-height: 1.66;
  font-size: 12px;

  width: 143px;

  @include mq(tablet) {
    width: 176px;
    font-weight: 500;
    letter-spacing: 0;
  }

  @include mq(desktop) {
    font-size: 18px;
    width: 240px;
  }
}

.programs__list:last-child {
  margin-bottom: 0px;
}

.programs__subhead {
  display: flex;
  width: 143px;
}

.programs__subhead {
  @include mq(tablet) {
    margin-right: 50px;
  }
}
.programs__subhead:last-child {
  @include mq(tablet) {
    margin-right: 0px;
  }
}

.programs__subhead {
  @include mq(desktop) {
    margin-right: 30px;
  }
}
.programs__subhead:last-child {
  @include mq(desktop) {
    margin-right: 0px;
  }
}

.programs__head-subtitle {
  display: flex;
  width: 143px;

  @media screen and (max-width: 766px) {
    flex-direction: column;
    margin-top: 5px;
  }

  @include mq(tablet) {
    margin-top: 5px;
  }

  @include mq(desktop) {
    display: flex;
    flex-direction: column;
    width: 240px;
    margin-top: 25px;
  }
}
