.guarantee .container {
  //----изменяем контейнер по макету----
  @include mq(mobile-small) {
    padding: 0;
  }
  @include mq(mobile) {
    padding: 0;
  }
  @include mq(tablet-only) {
    padding: 0 40px;
  }
  @include mq(desktop) {
    margin-left: 183px;
    margin-right: 183px;
  }
}

.guarantee__title {
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #fff;
  //----стили и размеры текста заголовка----
  @include mq(mobile-small) {
    font-weight: 800;
    font-size: 26px;
    line-height: 1.3;

    margin-bottom: 30px;
  }
  @include mq(mobile) {
    font-weight: 800;
    font-size: 26px;
    line-height: 1.3;

    margin-bottom: 30px;
  }
  @include mq(tablet-only) {
    font-weight: 800;
    font-size: 26px;
    line-height: 1.3;

    margin-bottom: 30px;
  }
  @include mq(desktop) {
    font-weight: 800;
    font-size: 46px;
    line-height: 1.3;
    margin-bottom: 50px;
  }
}
.guarantee-list {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  @include mq(mobile-small) {
    padding: 50px 20px;
  }
  @include mq(mobile) {
    padding: 50px 20px;
  }
  @include mq(tablet-only) {
    padding: 30px 50px 30px 79px;
  }
  @include mq(desktop) {
    padding: 50px 112px 45px 112px;
  }
}
.guarantee-list__item {
  position: relative;
  //---задаем нижине отступы между елементами для разных устройств---
  @include mq(mobile-small) {
    &:not(:last-child) {
      margin-bottom: 23px;
    }
  }
  @include mq(mobile) {
    &:not(:last-child) {
      margin-bottom: 23px;
    }
  }
  @include mq(tablet) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    //---для desktop маржин не задаем, он применяется от таблета---
  }
}

.guarantee .guarantee-list__text {
  font-family: var(--primary-font);

  color: #3d3d3d;
  //----создаем и позиционируем левую штрих линию через бордер----
  &::before {
    content: '';
    border-left: 1px dashed #b9b9b9;

    position: absolute;
    top: 24px;
    left: 6px;
    //---задаем высоту штрих линии отностиельно размера родительского елемента--
    @include mq(mobile-small) {
      height: 90%;
    }
    @include mq(mobile) {
      height: 90%;
    }
    @include mq(tablet) {
      height: 79%;
    }
    @include mq(desktop) {
      height: 67%;
      top: 29px;
      left: 11px;
    }
    //---убираем рамку последнему елементу, селектор не применяется----
    // &:last-child {
    //   border-left: none;
    // }
  }
  // --- убираем рамку последнему елементу, попытка 2, селектор не применяется----
  // &::before:last-child {
  //   content: '';
  //   border-left: none;
  // }
  // ------убираем линию последнему елементу через отдельный клас----
  &.guarantee-list__text--last::before {
    content: '';
    border-left: none;
  }
  //-----стили текста и отсутп от иконки через левый паддинг------
  @include mq(mobile-small) {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;

    padding-left: 35px;
  }
  @include mq(mobile) {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;

    padding-left: 40px;
  }
  @include mq(tablet) {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    //-----задаем высоту елементу текста для сходста по макету до пикселя----
    height: 38px;

    padding-left: 40px;
  }
  @include mq(desktop) {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
    //-----задаем высоту елементу текста для сходста по макету до пикселя----
    height: 60px;

    padding-left: 52px;
  }
}

.guarantee-list__text--orange {
  color: #ff6b09;
}
.guarantee-list__icon {
  position: absolute;

  top: 0;
  left: 0;
  //---смещаем и увеличиваем иконку для по макету для desktop-----
  @include mq(desktop) {
    transform: translateX(5px) scale(1.5);
  }
}
